extends layout

block head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", rel='stylesheet')
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src='/javascripts/aggiungiController.js')

block navbar
    div.alert.alert-success
    div.jumbotron#customJumbo
        h2.customH2 Aggiungi Chiavetta
        form
            div.form-group
                label(for='inputPhoneId') Inserisci numero di telefono
                input#inputPhoneId.form-control(type='text')
            div.form-group
                button#btnInvioPhoneId.btn.btn-primary(type='button', onclick='aggiungiPhoneId();') Invio



