extends layout

block head
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-theme.min.css', rel='stylesheet')
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/aggiungiController.js')

block navbar
    div.alert.alert-success#alertAggiungi
    div.jumbotron#customJumbo
        h2.customH2 Aggiungi Chiavetta
        form
            div.form-group
                label(for='inputPhoneId') Inserisci numero di telefono
                input#inputPhoneId.form-control(type='text')
            div.form-group
                button#btnInvioPhoneId.btn.btn-primary(type='button', onclick='aggiungiPhoneId();') Invio



