extends layout

block head
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-theme.min.css', rel='stylesheet')
    link(rel='stylesheet', href="/stylesheets/style.css")
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src="/javascripts/sostituisciController.js")

block navbar
    div.alert.alert-success#alertSostituzione
    div.jumbotron#customJumbo
        h2.customH2 Sostituzione Chiavetta
        form
            div.form-group
                label(for = 'selectImei') Imei da sostituire
                select#selectImei.form-control
                    each res in oldImei
                        option #{res.IMEI}
            div.form-group
                label(for='inputNewImei') Inserisci nuovo Imei
                input#inputNewImei.form-control(type='text', placeholder='Es. 123456789012345')
            div.form-group
                button#btnInvioImei.btn.btn-primary(type='button', onclick='sostituisciImei();') Invio