body { padding-top: 60px;
    margin-left: 1em;
    margin-right: 1em;
}
.collapse.navbar-collapse{
    margin-bottom: 0;
    border-radius: 0;
}
#customJumbo{
    margin-top: auto;
}
.customH2{
    text-align: center;
    margin-top: 0;
}
